body {
    text-align: center;
}
#simon-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.btn {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid #333;
    cursor: pointer;
    display: inline-block;
    opacity: 0.6;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}